<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password Generator</title>
    <link rel="stylesheet" href="bootstrap.min.css">
    <link rel="stylesheet" href="style.css">
    <link rel="apple-touch-icon" sizes="57x57" href="/favicon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/favicon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/favicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/favicon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/favicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/favicon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/favicon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/favicon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="/favicon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
    <link rel="manifest" href="/favicon/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/favicon/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
</head>
<body>
    <main id="app">
        <div class="container mt-5 mb-5">
            <h1>Password Generator</h1>
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">
                    <h2>Options</h2>
                    <div>
                        <input type="range" min="8" max="25" v-model="length">
                        <p>{{length}}</p>
                    </div>
                    <div>
                        <label>
                            <input type="checkbox" v-model="useNum">
                            Use numbers
                        </label>
                    </div>
                    <div>
                        <label>
                            <input type="checkbox" v-model="useSym">
                            Use symbols
                        </label>
                    </div>
                    <div>
                        <button class="btn btn-primary" @click="generate">Go</button>
                    </div>
                    <div class="mt-5 mb-5">
                        <h2>{{result}}</h2>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">
                    <div class="row justify-content-between align-items-center mb-3 ml-0 mr-0">
                        <h2 class="mb-0">History</h2>
                        <button class="btn btn-danger" @click="clearHistory">
                            <img class="btn-img" src="img/trash.svg" alt="">
                        </button>
                    </div>
                    <ul v-if="historyArr.length > 0">
                        <li v-for="i in historyArr" class="mb-2">
                            <div class="ml-0 mr-0 row justify-content-between align-items-center">
                                <span>{{i}}</span>
                                <button class="btn btn-dark" @click="copyToBufer(i)">
                                    <img class="btn-img" src="img/copy.svg" alt="">
                                </button>
                            </div>
                        </li>
                    </ul>
                    <div v-else>
                        <p>No items</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="toast" id="myAlert">
            <div class="toast-header">
              <img src="img/notification.svg" class="btn-img rounded mr-2">
              <strong class="mr-auto">Notification</strong>
              <small class="text-muted">Just now</small>
              <button type="button" class="ml-2 mb-1 close" @click="hideNofitication">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="toast-body">
              "{{copiedText}}" copied to clipboard!
            </div>
          </div>
    </main>
</body>
<script src="vue.js"></script>
<script src="index.js"></script>
</html>
