.btn-img {
    width: 15px;
    height: 15px;
    object-fit: contain;
}

#myAlert {
    opacity: 1;
    transition: right 1s ease-in-out;
    min-width: 300px;
    position: fixed;
    top: 1.5rem;
    right: -100%;
}

#myAlert.myAlert-show {
    right: 1.5rem;
}